.pg-emphasize {
    border-radius: 5px;
    background: #FFFF88;
    padding:2px;
}

.pg-emphasize.pg-emphasize-red {
    background: #ffecec;
}

.pg-emphasize.pg-emphasize-green {
    background: #5FFA8E;
}

